<h1>Editing article</h1>

<% if @errors.size>0 %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.count, "error") %> prohibited
        this mapping from being saved:</h2>
      <ul>
        <% @errors.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @submit,:url=>'api_connect' do |f| %>
<li>reader id is:<%= @reader_id%></li>
<li>reader name is:<%= @reader_name%></li>
<li>article connected all:<%= @article_reader.size%></li>
<li><%= f.text_field :reader_id,:value=>@reader_id%></li>
<table>
  <% @article_reader.each do |ra|%>
  <tr>
    <td><%= ra.article_id%></td>
    <td><%= ra.reader_id%></td>
  <tr>
  <% end %>
</table>
<li>
  article available for connect:
  <%= select(:article_id,'', @article_available.map{|c| [c.title, c.id]} ) %>
  <%= f.submit 'connect'%>
</li>
<%end%>
<%= form_tag('my_api') do %>
    <%= text_field_tag :email, "Your email address..." %>
    <%= hidden_field_tag :ref_code,  @referralid %>
    <%= hidden_field_tag :api_name, 'your_api_name' %>
    <%= submit_tag "Enter To Win" %>
<% end %>

<p>all article bind:</p>
<% @articles.each do |ar|%>
<li><%= ar.title%></li>
<%end%>
<%= render 'form' %>

<%= link_to 'Back', {:controller => "readers", :action => "index"} %>