<p id="notice"><%= notice %></p>

<h1>Listing Readers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readers.each do |reader| %>
      <tr>
        <td><%= reader.name %></td>
        <td><%= link_to 'Show', reader %></td>
        <td><%= link_to 'Edit', edit_reader_path(reader) %></td>
        <td><%= link_to 'Destroy', reader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'connect article', {:controller => "articles_readers", :action => "edit", :id=>reader} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reader', new_reader_path %>
<%= link_to 'Home', 'welcome/index'%>
