<h1>Editing article</h1>
<li>reader id is:<%= @reader_id%></li>
<li>reader name is:<%= @reader_name%></li>
<li>article connected all:<%= @article_count%></li>
<%= render 'form' %>

<%= link_to 'Back', {:controller => "readers", :action => "index"} %>